Django==1.6
Pygments==1.6
argparse==1.2.1
decorator==3.4.0
django-extensions==1.2.5
extras==0.0.3
fuzzywuzzy==0.2
httplib2==0.8
ipython==1.1.0
lettuce==0.2.19
lucene-querybuilder==0.2
neo4django==0.1.8
neo4jrestclient==1.9.0
pip-tools==0.3.4
python-dateutil==2.2
python-mimeparse==0.1.4
python-subunit==0.0.16
selenium==2.38.1
six==1.4.1
splinter==0.5.4
sure==1.2.3
testtools==0.9.34
wsgiref==0.1.2
