{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
  <div class="row-fluid">
    <div class="span4">
      <div class="image">
          <img src="{% static "assets/img/clarkoplata.jpg" %}">
        <h2><span>Clarkoplata</span></h2>
      </div>
    </div>
    <div class="span4">
      <div class="image">
          <img src="{% static "assets/img/figurefour.jpg" %}">
        <h2><span>figure four footlock</span></h2>
      </div>
      </div>
    <div class="span4">
      <div class="image">
          <img src="{% static "assets/img/footlock.jpg" %}">
        <h2><span>kneebar</span></h2>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <div class="image">
          <img src="{% static "assets/img/flyingarmbar.jpg" %}">
        <h2><span>flying armbar from knees</span></h2>
      </div>
      </div>
    <div class="span4">
      <div class="image">
          <img src="{% static "assets/img/singleleg.jpg" %}">
        <h2><span>single leg takedown</span></h2>
      </div>
      </div>
  </div><!--/row-->
{% endblock %}
